### Reshama trying it out
#### 9/25/18

At Fast.ai we have introduced a new module called fastai.text which replaces the torchtext library that was used in our 2018 dl1 course. The fastai.text module also supersedes the fastai.nlp library but retains many of the key functions.

In [2]:
from fastai.text import *
import html

/home/ubuntu/src/anaconda3/envs/fastai/lib/python3.6/site-packages/sklearn/ensemble/weight_boosting.py:29: DeprecationWarning: numpy.core.umath_tests is an internal NumPy module and should not be imported. It will be removed in a future NumPy release.
  from numpy.core.umath_tests import inner1d

The Fastai.text module introduces several custom tokens.

We need to download the IMDB large movie reviews from this site: http://ai.stanford.edu/~amaas/data/sentiment/
Direct link : [Link](http://ai.stanford.edu/~amaas/data/sentiment/aclImdb_v1.tar.gz) and untar it into the PATH location. We use pathlib which makes directory traveral a breeze.

## Read in Lessons Learned csv file

In [3]:
!pwd

/home/ubuntu/my_repos/llis_topicModel/python

In [4]:
PATHproject="/home/ubuntu/my_repos/llis_topicModel/"

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv(PATHproject+"data/llis.csv", encoding = "ISO-8859-1", engine='python')

In [7]:
df.head(3)

,LessonId,Submitter1,Title,Abstract,Lesson,Organization,LessonDate,MissionDirectorate,SafetyIssue,Categories,DocNum,Topic,Category,url
0,9501,"Bell, Michael",Manhole Arc-Flash Risk Reduction,Power system distribution at Kennedy Space C...,Laboratory testing revealed higher than anti...,KSC,6/6/14,"Aeronautics Research, Human Exploration and Op...",True,"Energy, Facilities, Industrial Operations, Per...",1,22,Energy,https://nen.nasa.gov/web/11/viewall/-/viewall/...
1,8018,"Bell, Michael",CRCA Sampling Process Lessons Learned,"The sampling and analysis processes, used to...",The particle contamination monitoring was in...,KSC,3/11/14,"Human Exploration and Operations,",False,NaN,2,18,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/...
2,8701,"Oberhettinger, David",Take Special Care to Avoid Misprobing When Usi...,An operator error involving mis-probing duri...,The common use of BOBs during subsystem/syst...,JPL,2/18/14,"Aeronautics Research, Human Exploration and Op...",True,"Integration and Testing, Safety and Mission As...",3,31,Integration and Testing,https://nen.nasa.gov/web/11/viewall/-/viewall/...

In [8]:
df.groupby(['SafetyIssue']).count()

,LessonId,Submitter1,Title,Abstract,Lesson,Organization,LessonDate,MissionDirectorate,Categories,DocNum,Topic,Category,url
SafetyIssue,,,,,,,,,,,,,
False,1401,1401,1387,641,1401,1401,1401,1129,314,1401,1401,314,1401
True,236,236,235,227,236,236,236,121,82,236,236,82,236

In [9]:
df.groupby(['SafetyIssue','Submitter1']).count()

                                   LessonId  Title  Abstract  Lesson  \
SafetyIssue Submitter1
False       Acord, A                      2      2         2       2
            Amundsen, Ruth               15     15         0      15
            Archer, Eric                  1      1         1       1
            Artrip, Chris                 1      1         0       1
            Atkins, K                     1      1         1       1
            Atkins, Kenneth               1      1         1       1
            Axsom, Bob                    1      1         0       1
            Backman, Charles              1      1         0       1
            Badalich, John                1      1         0       1
            Baggs, Ellis                  4      4         0       4
            Baisley, R                    1      1         1       1
            Baker, Gena                   3      3         0       3
            Barnes, Robert                1      1         1       1
            Bastedo, W                    1      1         0       1
            Beifeld, David                1      1         1       1
            Bell, Michael                 6      6         6       6
            Bennett, Richard              1      1         1       1
            Berry, Richard                1      1         0       1
            Bishop, D                     1      1         0       1
            Blaser, Carl                  1      1         1       1
            Blosiu, J                     2      2         2       2
            Bodie, C                      1      1         1       1
            Bond, Rebecca                 1      1         1       1
            Bonine, Lisa                  1      1         1       1
            Booher, Rebecca               1      1         1       1
            Bopp, Charles                 1      1         0       1
            Bott, J                       2      2         2       2
            Bowling, Gordon               1      1         0       1
            Boyles, Mark                  2      2         2       2
            Briceno, Anthony             12     12         0      12
...                                     ...    ...       ...     ...
True        Nunnelee, Mark                1      1         1       1
            Oberhettinger, D              2      2         2       2
            Oberhettinger, David         25     25        24      25
            Ochs, Bill                    1      1         0       1
            Owens, Jerry                  1      1         1       1
            Palmer, Jenni                 1      1         1       1
            Palmieri, Diane               1      1         1       1
            Piasecki, Gerald              1      1         1       1
            Pitt, Annette                 4      4         4       4
            Pitt, Marie                   2      2         2       2
            Platt, Marilyn                1      1         1       1
            Porter, Amber                 7      7         7       7
            Roberts, J                   33     33        33      33
            Ruiz, Robert                  1      1         1       1
            Savino, J                     2      2         2       2
            Schaper, P                    2      2         2       2
            Shain, T                      1      1         1       1
            Stambolian, Damon             1      1         1       1
            Stowes, Angela                1      1         1       1
            Sunada, Eric                  1      1         0       1
            Taylor, Jim                   9      9         9       9
            Toberman, Michael             2      2         2       2
            Tyler, S                      1      1         1       1
            Unknown                      14     14        14      14
            Vaughan, William              1      1         1       1
            Vernier, Robert               1      1         1       1
            Wagoner, B                    2      2         2       2
            Welch, Ron                    1      1         1       1
            Winterlin, Ronald             6      6         6       6
            Wong, Richard                 1      1         1       1

                                   Organization  LessonDate  \
SafetyIssue Submitter1
False       Acord, A                          2           2
            Amundsen, Ruth                   15          15
            Archer, Eric                      1           1
            Artrip, Chris                     1           1
            Atkins, K                         1           1
            Atkins, Kenneth                   1           1
            Axsom, Bob                        1           1
            Backman, Charles                  1           1
            Badalich, John                    1           1
            Baggs, Ellis                      4           4
            Baisley, R                        1           1
            Baker, Gena                       3           3
            Barnes, Robert                    1           1
            Bastedo, W                        1           1
            Beifeld, David                    1           1
            Bell, Michael                     6           6
            Bennett, Richard                  1           1
            Berry, Richard                    1           1
            Bishop, D                         1           1
            Blaser, Carl                      1           1
            Blosiu, J                         2           2
            Bodie, C                          1           1
            Bond, Rebecca                     1           1
            Bonine, Lisa                      1           1
            Booher, Rebecca                   1           1
            Bopp, Charles                     1           1
            Bott, J                           2           2
            Bowling, Gordon                   1           1
            Boyles, Mark                      2           2
            Briceno, Anthony                 12          12
...                                         ...         ...
True        Nunnelee, Mark                    1           1
            Oberhettinger, D                  2           2
            Oberhettinger, David             25          25
            Ochs, Bill                        1           1
            Owens, Jerry                      1           1
            Palmer, Jenni                     1           1
            Palmieri, Diane                   1           1
            Piasecki, Gerald                  1           1
            Pitt, Annette                     4           4
            Pitt, Marie                       2           2
            Platt, Marilyn                    1           1
            Porter, Amber                     7           7
            Roberts, J                       33          33
            Ruiz, Robert                      1           1
            Savino, J                         2           2
            Schaper, P                        2           2
            Shain, T                          1           1
            Stambolian, Damon                 1           1
            Stowes, Angela                    1           1
            Sunada, Eric                      1           1
            Taylor, Jim                       9           9
            Toberman, Michael                 2           2
            Tyler, S                          1           1
            Unknown                          14          14
            Vaughan, William                  1           1
            Vernier, Robert                   1           1
            Wagoner, B                        2           2
            Welch, Ron                        1           1
            Winterlin, Ronald                 6           6
            Wong, Richard                     1           1

                                   MissionDirectorate  Categories  DocNum  \
SafetyIssue Submitter1
False       Acord, A                                0           0       2
            Amundsen, Ruth                          0           0      15
            Archer, Eric                            1           0       1
            Artrip, Chris                           0           0       1
            Atkins, K                               1           0       1
            Atkins, Kenneth                         1           1       1
            Axsom, Bob                              0           0       1
            Backman, Charles                        0           0       1
            Badalich, John                          0           0       1
            Baggs, Ellis                            0           0       4
            Baisley, R                              0           0       1
            Baker, Gena                             3           0       3
            Barnes, Robert                          1           0       1
            Bastedo, W                              0           0       1
            Beifeld, David                          1           1       1
            Bell, Michael                           3           5       6
            Bennett, Richard                        1           0       1
            Berry, Richard                          1           0       1
            Bishop, D                               0           0       1
            Blaser, Carl                            1           1       1
            Blosiu, J                               0           0       2
            Bodie, C                                1           0       1
            Bond, Rebecca                           0           1       1
            Bonine, Lisa                            1           0       1
            Booher, Rebecca                         0           1       1
            Bopp, Charles                           0           0       1
            Bott, J                                 0           0       2
            Bowling, Gordon                         1           0       1
            Boyles, Mark                            2           0       2
            Briceno, Anthony                       12           0      12
...                                               ...         ...     ...
True        Nunnelee, Mark                          1           0       1
            Oberhettinger, D                        1           0       2
            Oberhettinger, David                   22          18      25
            Ochs, Bill                              1           0       1
            Owens, Jerry                            1           1       1
            Palmer, Jenni                           1           1       1
            Palmieri, Diane                         1           1       1
            Piasecki, Gerald                        1           1       1
            Pitt, Annette                           2           2       4
            Pitt, Marie                             2           2       2
            Platt, Marilyn                          1           0       1
            Porter, Amber                           0           7       7
            Roberts, J                              1           0      33
            Ruiz, Robert                            0           1       1
            Savino, J                               1           0       2
            Schaper, P                              0           0       2
            Shain, T                                0           0       1
            Stambolian, Damon                       0           1       1
            Stowes, Angela                          0           1       1
            Sunada, Eric                            1           0       1
            Taylor, Jim                             0           0       9
            Toberman, Michael                       2           0       2
            Tyler, S                                0           0       1
            Unknown                                12          14      14
            Vaughan, William                        1           0       1
            Vernier, Robert                         1           1       1
            Wagoner, B                              1           0       2
            Welch, Ron                              1           0       1
            Winterlin, Ronald                       6           0       6
            Wong, Richard                           1           0       1

                                   Topic  Category  url
SafetyIssue Submitter1
False       Acord, A                   2         0    2
            Amundsen, Ruth            15         0   15
            Archer, Eric               1         0    1
            Artrip, Chris              1         0    1
            Atkins, K                  1         0    1
            Atkins, Kenneth            1         1    1
            Axsom, Bob                 1         0    1
            Backman, Charles           1         0    1
            Badalich, John             1         0    1
            Baggs, Ellis               4         0    4
            Baisley, R                 1         0    1
            Baker, Gena                3         0    3
            Barnes, Robert             1         0    1
            Bastedo, W                 1         0    1
            Beifeld, David             1         1    1
            Bell, Michael              6         5    6
            Bennett, Richard           1         0    1
            Berry, Richard             1         0    1
            Bishop, D                  1         0    1
            Blaser, Carl               1         1    1
            Blosiu, J                  2         0    2
            Bodie, C                   1         0    1
            Bond, Rebecca              1         1    1
            Bonine, Lisa               1         0    1
            Booher, Rebecca            1         1    1
            Bopp, Charles              1         0    1
            Bott, J                    2         0    2
            Bowling, Gordon            1         0    1
            Boyles, Mark               2         0    2
            Briceno, Anthony          12         0   12
...                                  ...       ...  ...
True        Nunnelee, Mark             1         0    1
            Oberhettinger, D           2         0    2
            Oberhettinger, David      25        18   25
            Ochs, Bill                 1         0    1
            Owens, Jerry               1         1    1
            Palmer, Jenni              1         1    1
            Palmieri, Diane            1         1    1
            Piasecki, Gerald           1         1    1
            Pitt, Annette              4         2    4
            Pitt, Marie                2         2    2
            Platt, Marilyn             1         0    1
            Porter, Amber              7         7    7
            Roberts, J                33         0   33
            Ruiz, Robert               1         1    1
            Savino, J                  2         0    2
            Schaper, P                 2         0    2
            Shain, T                   1         0    1
            Stambolian, Damon          1         1    1
            Stowes, Angela             1         1    1
            Sunada, Eric               1         0    1
            Taylor, Jim                9         0    9
            Toberman, Michael          2         0    2
            Tyler, S                   1         0    1
            Unknown                   14        14   14
            Vaughan, William           1         0    1
            Vernier, Robert            1         1    1
            Wagoner, B                 2         0    2
            Welch, Ron                 1         0    1
            Winterlin, Ronald          6         0    6
            Wong, Richard              1         0    1

[397 rows x 12 columns]

In [10]:
len(df)

1637

In [11]:
submitter = df.sort_values(by=['Submitter1']).groupby(['Submitter1']).count()
len(submitter)

366

## Cleaning Up

In [12]:
df['Submitter1'].str.capitalize()

0               Bell, michael
1              Bell, michael
2       Oberhettinger, david
3              Bell, michael
4       Oberhettinger, david
5                     Unknown
6       Oberhettinger, david
7       Oberhettinger, david
8       Oberhettinger, david
9                   Le, minh
10          Pengra, patricia
11                    Unknown
12                    Unknown
13                  Le, minh
14              Hull, donald
15              Hull, donald
16             Laws, richard
17                    Unknown
18                  Le, minh
19              Hull, donald
20                  Le, minh
21                    Unknown
22                    Unknown
23                    Unknown
24         Stevens, jennifer
25                    Unknown
26                    Unknown
27                    Unknown
28                    Unknown
29                    Unknown
                ...
1607       Pennington, david
1608       Pennington, david
1609             Cockrell, c
1610          Musgrave, lisa
1611       Pennington, david
1612          Musgrave, lisa
1613          Musgrave, lisa
1614       Pennington, david
1615       Pennington, david
1616       Pennington, david
1617          Musgrave, lisa
1618          Musgrave, lisa
1619          Musgrave, lisa
1620          Musgrave, lisa
1621          Musgrave, lisa
1622       Pennington, david
1623       Pennington, david
1624       Pennington, david
1625       Pennington, david
1626       Pennington, david
1627          Musgrave, lisa
1628       Pennington, david
1629       Pennington, david
1630          Musgrave, lisa
1631               Holden, w
1632       Pennington, david
1633              Seiwell, r
1634           Carrol, donna
1635            Underwood, l
1636             Sullivan, j
Name: Submitter1, Length: 1637, dtype: object

In [13]:
df['Submitter1'].apply(lambda x: x.upper())

0               BELL, MICHAEL
1              BELL, MICHAEL
2       OBERHETTINGER, DAVID
3              BELL, MICHAEL
4       OBERHETTINGER, DAVID
5                     UNKNOWN
6       OBERHETTINGER, DAVID
7       OBERHETTINGER, DAVID
8       OBERHETTINGER, DAVID
9                   LE, MINH
10          PENGRA, PATRICIA
11                    UNKNOWN
12                    UNKNOWN
13                  LE, MINH
14              HULL, DONALD
15              HULL, DONALD
16             LAWS, RICHARD
17                    UNKNOWN
18                  LE, MINH
19              HULL, DONALD
20                  LE, MINH
21                    UNKNOWN
22                    UNKNOWN
23                    UNKNOWN
24         STEVENS, JENNIFER
25                    UNKNOWN
26                    UNKNOWN
27                    UNKNOWN
28                    UNKNOWN
29                    UNKNOWN
                ...
1607       PENNINGTON, DAVID
1608       PENNINGTON, DAVID
1609             COCKRELL, C
1610          MUSGRAVE, LISA
1611       PENNINGTON, DAVID
1612          MUSGRAVE, LISA
1613          MUSGRAVE, LISA
1614       PENNINGTON, DAVID
1615       PENNINGTON, DAVID
1616       PENNINGTON, DAVID
1617          MUSGRAVE, LISA
1618          MUSGRAVE, LISA
1619          MUSGRAVE, LISA
1620          MUSGRAVE, LISA
1621          MUSGRAVE, LISA
1622       PENNINGTON, DAVID
1623       PENNINGTON, DAVID
1624       PENNINGTON, DAVID
1625       PENNINGTON, DAVID
1626       PENNINGTON, DAVID
1627          MUSGRAVE, LISA
1628       PENNINGTON, DAVID
1629       PENNINGTON, DAVID
1630          MUSGRAVE, LISA
1631               HOLDEN, W
1632       PENNINGTON, DAVID
1633              SEIWELL, R
1634           CARROL, DONNA
1635            UNDERWOOD, L
1636             SULLIVAN, J
Name: Submitter1, Length: 1637, dtype: object

In [14]:
submitter = df.sort_values(by=['Submitter1']).groupby(['Submitter1']).count()
len(submitter)

366

In [15]:
# remove trailing spaces at end or beginning
df['Submitter1'] = df['Submitter1'].str.strip()

In [16]:
submitter = df.sort_values(by=['Submitter1']).groupby(['Submitter1']).count()
len(submitter)

365

In [17]:
df[['name_last','name_first']] = df['Submitter1'].str.split(',',expand=True)

In [18]:
df.head(3)

,LessonId,Submitter1,Title,Abstract,Lesson,Organization,LessonDate,MissionDirectorate,SafetyIssue,Categories,DocNum,Topic,Category,url,name_last,name_first
0,9501,"Bell, Michael",Manhole Arc-Flash Risk Reduction,Power system distribution at Kennedy Space C...,Laboratory testing revealed higher than anti...,KSC,6/6/14,"Aeronautics Research, Human Exploration and Op...",True,"Energy, Facilities, Industrial Operations, Per...",1,22,Energy,https://nen.nasa.gov/web/11/viewall/-/viewall/...,Bell,Michael
1,8018,"Bell, Michael",CRCA Sampling Process Lessons Learned,"The sampling and analysis processes, used to...",The particle contamination monitoring was in...,KSC,3/11/14,"Human Exploration and Operations,",False,NaN,2,18,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/...,Bell,Michael
2,8701,"Oberhettinger, David",Take Special Care to Avoid Misprobing When Usi...,An operator error involving mis-probing duri...,The common use of BOBs during subsystem/syst...,JPL,2/18/14,"Aeronautics Research, Human Exploration and Op...",True,"Integration and Testing, Safety and Mission As...",3,31,Integration and Testing,https://nen.nasa.gov/web/11/viewall/-/viewall/...,Oberhettinger,David

In [19]:
df['name_last'].str.capitalize()

0                Bell
1                Bell
2       Oberhettinger
3                Bell
4       Oberhettinger
5             Unknown
6       Oberhettinger
7       Oberhettinger
8       Oberhettinger
9                  Le
10             Pengra
11            Unknown
12            Unknown
13                 Le
14               Hull
15               Hull
16               Laws
17            Unknown
18                 Le
19               Hull
20                 Le
21            Unknown
22            Unknown
23            Unknown
24            Stevens
25            Unknown
26            Unknown
27            Unknown
28            Unknown
29            Unknown
            ...
1607       Pennington
1608       Pennington
1609         Cockrell
1610         Musgrave
1611       Pennington
1612         Musgrave
1613         Musgrave
1614       Pennington
1615       Pennington
1616       Pennington
1617         Musgrave
1618         Musgrave
1619         Musgrave
1620         Musgrave
1621         Musgrave
1622       Pennington
1623       Pennington
1624       Pennington
1625       Pennington
1626       Pennington
1627         Musgrave
1628       Pennington
1629       Pennington
1630         Musgrave
1631           Holden
1632       Pennington
1633          Seiwell
1634           Carrol
1635        Underwood
1636         Sullivan
Name: name_last, Length: 1637, dtype: object

In [20]:
df.tail(20)

,LessonId,Submitter1,Title,Abstract,Lesson,Organization,LessonDate,MissionDirectorate,SafetyIssue,Categories,DocNum,Topic,Category,url,name_last,name_first
1617,139,"Musgrave, Lisa",Postlanding Orbiter Compartment Vapor Sampling,NaN,An undetected accumulation of toxic/flammable...,KSC,10/5/92,"Exploration Systems, Space Operations,",False,NaN,1859,35,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/139,Musgrave,Lisa
1618,143,"Musgrave, Lisa",Engine Changeout Platform (ECP) and Engine Ser...,NaN,"Failure of wire ropes, winch components, or o...",KSC,10/5/92,"Exploration Systems, Space Operations,",False,NaN,1860,23,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/143,Musgrave,Lisa
1619,142,"Musgrave, Lisa",540A Industrial Oxygen (O2) Analyzer Monitoring,NaN,An oxygen analyzer system failure may cause p...,KSC,10/5/92,NaN,False,NaN,1861,26,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/142,Musgrave,Lisa
1620,141,"Musgrave, Lisa",Radioisotope Thermoelectric Generator Facility...,NaN,Failure of the RTGF crane electrical componen...,KSC,10/5/92,NaN,False,NaN,1862,33,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/141,Musgrave,Lisa
1621,140,"Musgrave, Lisa",Suspended Load Operations,NaN,Failure of a critical item lifting device (cr...,KSC,10/5/92,"Exploration Systems, Space Operations,",False,NaN,1863,33,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/140,Musgrave,Lisa
1622,146,"Pennington, David",Fuel and Oxidizer Storage Tank Relief Valves.,NaN,Lack of relief valve isolation has resulted i...,KSC,10/2/92,NaN,False,NaN,1864,2,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/146,Pennington,David
1623,133,"Pennington, David",Orbiter Avionics System.,NaN,Cooling system flexhoses that supply the orbi...,KSC,9/24/92,NaN,False,NaN,1876,31,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/133,Pennington,David
1624,39,"Pennington, David",SSME Oxygen Lines,NaN,Helium leak detector roughing pump failure du...,KSC,9/18/92,"Exploration Systems, Space Operations,",False,NaN,1878,2,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/39,Pennington,David
1625,38,"Pennington, David",Undetected GH2 Release in the OPF,NaN,Failure to establish controlled venting of PR...,KSC,9/18/92,"Exploration Systems, Space Operations,",False,NaN,1879,27,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/38,Pennington,David
1626,111,"Pennington, David",LH2 Quick Disconnects (QD),NaN,Quick disconnects utilized for providing gass...,KSC,8/27/92,"Exploration Systems, Space Operations,",False,NaN,1896,5,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/111,Pennington,David
1627,120,"Musgrave, Lisa",Liquid Tanker (LT) Liquid Level Indicator (LLI...,NaN,\n\n Shocks/vibrations induced into a...,KSC,8/12/92,NaN,False,NaN,1916,3,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/120,Musgrave,Lisa
1628,102,"Pennington, David",High Pressure Shutoff Valves; Vacuum Pump Isol...,NaN,\n\n Failure to establish a preventat...,KSC,8/11/92,"Aeronautics Research, Science, Exploration Sys...",False,NaN,1917,2,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/102,Pennington,David
1629,101,"Pennington, David",Proof Load Test Fixture,NaN,Lack of a safety cut-out switch on the proof ...,KSC,8/10/92,"Aeronautics Research, Science, Exploration Sys...",False,NaN,1918,4,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/101,Pennington,David
1630,119,"Musgrave, Lisa",Solid Rocket Motor (SRM) Segment and Handling ...,NaN,\n\n Documentation lacking cross refe...,KSC,8/10/92,"Exploration Systems, Space Operations,",False,NaN,1919,12,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/119,Musgrave,Lisa
1631,1186,"Holden, W",Railroad Maintenance Contractor Boom Crane Mis...,NaN,It is the opinion of this mishap investigatio...,KSC,4/9/92,"Exploration Systems, Space Operations,",False,NaN,1956,35,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/...,Holden,W
1632,51,"Pennington, David",Dry Well Transducer Installations are Suscepti...,NaN,\n\n Adequate physical safeguards do ...,KSC,12/27/91,NaN,False,NaN,1976,27,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/51,Pennington,David
1633,17,"Seiwell, R",Shorted Wires (From Pinching by an Uninsulated...,NaN,A reassembly error (a dislocated wire pinched...,JSC,7/29/91,"Aeronautics Research, Exploration Systems, Spa...",False,NaN,1996,9,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/17,Seiwell,R
1634,16,"Carrol, Donna",Reversed Installation of a Check Valve Spring ...,NaN,An incorrect installation of a critical compo...,JSC,7/28/91,"Aeronautics Research, Exploration Systems, Spa...",False,NaN,1997,21,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/16,Carrol,Donna
1635,449,"Underwood, L",Migration of Conductive Contaminates in an Ele...,NaN,Excess wear led to migration of conductive co...,JSC,12/15/90,NaN,False,NaN,2016,13,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/449,Underwood,L
1636,1199,"Sullivan, J",OV-104 STS-38 Avionics Bay Platform Beam Assem...,NaN,The primary and major contributory causes of ...,KSC,9/3/90,"Exploration Systems, Space Operations,",False,NaN,2017,11,NaN,https://nen.nasa.gov/web/11/viewall/-/viewall/...,Sullivan,J

In [21]:
name_first = df.sort_values(by=['name_first']).groupby(['name_first']).count()
len(submitter)

365

In [22]:
name_first

,LessonId,Submitter1,Title,Abstract,Lesson,Organization,LessonDate,MissionDirectorate,SafetyIssue,Categories,DocNum,Topic,Category,url,name_last
name_first,,,,,,,,,,,,,,,
A,5,5,5,5,5,5,5,0,5,0,5,5,0,5,5
Al,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1
Alan,1,1,1,0,1,1,1,1,1,0,1,1,0,1,1
Albert,2,2,2,1,2,2,2,2,2,0,2,2,0,2,2
Alicia,1,1,1,0,1,1,1,1,1,0,1,1,0,1,1
Allan,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1
Amber,8,8,8,8,8,8,8,1,8,8,8,8,8,8,8
Andre,2,2,2,2,2,2,2,2,2,1,2,2,1,2,2
Angela,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1
Annette,93,93,93,93,93,93,93,91,93,91,93,93,91,93,93
Anthony,12,12,12,0,12,12,12,12,12,0,12,12,0,12,12
B,10,10,10,9,10,10,10,4,10,0,10,10,0,10,10
Barbara,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3
Barrie,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1
Bernard,7,7,7,0,7,7,7,0,7,0,7,7,0,7,7
Bill,6,6,6,2,6,6,6,3,6,0,6,6,0,6,6
Billy,17,17,17,0,17,17,17,17,17,0,17,17,0,17,17
Bob,1,1,1,0,1,1,1,0,1,0,1,1,0,1,1
Bonita,8,8,8,0,8,8,8,8,8,0,8,8,0,8,8
Brent,1,1,1,1,1,1,1,0,1,1,1,1,1,1,1
Brian,1,1,1,0,1,1,1,0,1,0,1,1,0,1,1
Bryant,1,1,1,0,1,1,1,1,1,0,1,1,0,1,1
C,16,16,16,14,16,16,16,4,16,0,16,16,0,16,16
Calvert,1,1,1,0,1,1,1,1,1,0,1,1,0,1,1
Carl,2,2,2,1,2,2,2,1,2,1,2,2,1,2,2
Carol,3,3,3,2,3,3,3,3,3,1,3,3,1,3,3
Case,1,1,1,0,1,1,1,0,1,0,1,1,0,1,1
Cecile,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1
Charles,11,11,11,2,11,11,11,5,11,0,11,11,0,11,11
Chien,2,2,2,2,2,2,2,1,2,2,2,2,2,2,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Roger,2,2,2,0,2,2,2,1,2,0,2,2,0,2,2
Ron,9,9,9,8,9,9,9,4,9,6,9,9,6,9,9
Ronald,27,27,27,20,27,27,27,22,27,1,27,27,1,27,27
Roy,5,5,5,1,5,5,5,5,5,0,5,5,0,5,5
Ruth,15,15,15,0,15,15,15,0,15,0,15,15,0,15,15
Ryan,4,4,4,4,4,4,4,4,4,3,4,4,3,4,4
S,14,14,14,2,14,14,14,0,14,0,14,14,0,14,14
Scott,2,2,2,2,2,2,2,1,2,1,2,2,1,2,2
Sean,1,1,1,0,1,1,1,0,1,0,1,1,0,1,1
Shawn,1,1,1,0,1,1,1,0,1,0,1,1,0,1,1
Stephen,2,2,2,1,2,2,2,1,2,0,2,2,0,2,2
Steve,3,3,3,3,3,3,3,3,3,1,3,3,1,3,3
Steven,2,2,2,1,2,2,2,2,2,0,2,2,0,2,2
Suong,1,1,1,0,1,1,1,1,1,0,1,1,0,1,1
Susan,1,1,1,0,1,1,1,0,1,0,1,1,0,1,1
Suzanne,3,3,3,3,3,3,3,3,3,0,3,3,0,3,3
T,1,1,1,1,1,1,1,0,1,0,1,1,0,1,1
Thomas,5,5,5,4,5,5,5,5,5,0,5,5,0,5,5
Thuykien,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4
Todd,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
Tom,1,1,1,0,1,1,1,1,1,0,1,1,0,1,1
Trong,4,4,4,4,4,4,4,4,4,0,4,4,0,4,4
Trudy,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1
W,3,3,3,1,3,3,3,1,3,0,3,3,0,3,3
Wil,149,149,149,34,149,149,149,147,149,0,149,149,0,149,149
William,4,4,4,3,4,4,4,4,4,1,4,4,1,4,4
Wilson,63,63,63,13,63,63,63,51,63,0,63,63,0,63,63
Yvonne,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1
ave,1,1,1,1,1,1,1,1,1,0,1,1,0,1,1
lisa,1,1,1,1,1,1,1,0,1,0,1,1,0,1,1

In [23]:
# confirm that LessonId is unique, it is
lessonid = df.sort_values(by=['LessonId']).groupby(['LessonId']).count()
len(lessonid)

1637

In [ ]:
# confirm that url is unique, it is
url = df.sort_values(by=['url']).groupby(['url']).count()
len(url)

In [ ]:
submitter[:50]
#submitter[50:100]
#submitter[100:150]
#submitter[150:200]
#submitter[200:250]
#submitter[250:300]
submitter[300:350]
submitter[350:]

## IMDb

In [ ]:
BOS = 'xbos'  # beginning-of-sentence tag
FLD = 'xfld'  # data field tag

#PATH=Path('data/aclImdb/')
#PATH=Path(PATHproject+'/data/')

## Standardize format

In [ ]:
#CLAS_PATH=Path('data/imdb_clas/')
CLAS_PATH=Path(PATHproject+'data/lessons_clas/')
CLAS_PATH.mkdir(exist_ok=True)

LM_PATH=Path(PATHproject+'data/lessons_lm/')
LM_PATH.mkdir(exist_ok=True)

The imdb dataset has 3 classes. positive, negative and unsupervised(sentiment is unknown). 
There are 75k training reviews(12.5k pos, 12.5k neg, 50k unsup)
There are 25k validation reviews(12.5k pos, 12.5k neg & no unsup)

Refer to the README file in the imdb corpus for further information about the dataset.

In [ ]:
CLASSES = ['neg', 'pos', 'unsup']

def get_texts(path):
    texts,labels = [],[]
    for idx,label in enumerate(CLASSES):
        for fname in (path/label).glob('*.*'):
            texts.append(fname.open('r', encoding='utf-8').read())
            labels.append(idx)
    return np.array(texts),np.array(labels)

trn_texts,trn_labels = get_texts(PATH/'train')
val_texts,val_labels = get_texts(PATH/'test')

In [ ]:
len(trn_texts),len(val_texts)

In [ ]:
col_names = ['labels','text']

We use a random permutation np array to shuffle the text reviews.

In [ ]:
np.random.seed(42)
trn_idx = np.random.permutation(len(trn_texts))
val_idx = np.random.permutation(len(val_texts))

In [ ]:
trn_texts = trn_texts[trn_idx]
val_texts = val_texts[val_idx]

trn_labels = trn_labels[trn_idx]
val_labels = val_labels[val_idx]

In [ ]:
df_trn = pd.DataFrame({'text':trn_texts, 'labels':trn_labels}, columns=col_names)
df_val = pd.DataFrame({'text':val_texts, 'labels':val_labels}, columns=col_names)

The pandas dataframe is used to store text data in a newly evolving standard format of label followed by text columns. This was influenced by a paper by Yann LeCun (LINK REQUIRED). Fastai adopts this new format for NLP datasets. In the case of IMDB, there is only one text column.

In [ ]:
df_trn[df_trn['labels']!=2].to_csv(CLAS_PATH/'train.csv', header=False, index=False)
df_val.to_csv(CLAS_PATH/'test.csv', header=False, index=False)

(CLAS_PATH/'classes.txt').open('w', encoding='utf-8').writelines(f'{o}\n' for o in CLASSES)

We start by creating the data for the Language Model(LM). The LM's goal is to learn the structure of the english language. It learns language by trying to predict the next word given a set of previous words(ngrams). Since the LM does not classify reviews, the labels can be ignored.

The LM can benefit from all the textual data and there is no need to exclude the unsup/unclassified movie reviews.

We first concat all the train(pos/neg/unsup = **75k**) and test(pos/neg=**25k**) reviews into a big chunk of **100k** reviews. And then we use sklearn splitter to divide up the 100k texts into 90% training and 10% validation sets.

In [ ]:
trn_texts,val_texts = sklearn.model_selection.train_test_split(
    np.concatenate([trn_texts,val_texts]), test_size=0.1)

In [ ]:
len(trn_texts), len(val_texts)

In [ ]:
df_trn = pd.DataFrame({'text':trn_texts, 'labels':[0]*len(trn_texts)}, columns=col_names)
df_val = pd.DataFrame({'text':val_texts, 'labels':[0]*len(val_texts)}, columns=col_names)

df_trn.to_csv(LM_PATH/'train.csv', header=False, index=False)
df_val.to_csv(LM_PATH/'test.csv', header=False, index=False)

## Language model tokens

In this section, we start cleaning up the messy text. There are 2 main activities we need to perform:

1. Clean up extra spaces, tab chars, new ln chars and other characters and replace them with standard ones
2. Use the awesome [spacy](http://spacy.io) library to tokenize the data. Since spacy does not provide a parallel/multicore version of the tokenizer, the fastai library adds this functionality. This parallel version uses all the cores of your CPUs and runs much faster than the serial version of the spacy tokenizer.

Tokenization is the process of splitting the text into separate tokens so that each token can be assigned a unique index. This means we can convert the text into integer indexes our models can use.

We use an appropriate chunksize as the tokenization process is memory intensive

In [ ]:
chunksize=24000

In [ ]:
re1 = re.compile(r'  +')

def fixup(x):
    x = x.replace('#39;', "'").replace('amp;', '&').replace('#146;', "'").replace(
        'nbsp;', ' ').replace('#36;', '$').replace('\\n', "\n").replace('quot;', "'").replace(
        '<br />', "\n").replace('\\"', '"').replace('<unk>','u_n').replace(' @.@ ','.').replace(
        ' @-@ ','-').replace('\\', ' \\ ')
    return re1.sub(' ', html.unescape(x))

In [ ]:
def get_texts(df, n_lbls=1):
    labels = df.iloc[:,range(n_lbls)].values.astype(np.int64)
    texts = f'\n{BOS} {FLD} 1 ' + df[n_lbls].astype(str)
    for i in range(n_lbls+1, len(df.columns)): texts += f' {FLD} {i-n_lbls} ' + df[i].astype(str)
    texts = list(texts.apply(fixup).values)

    tok = Tokenizer().proc_all_mp(partition_by_cores(texts))
    return tok, list(labels)

In [ ]:
def get_all(df, n_lbls):
    tok, labels = [], []
    for i, r in enumerate(df):
        print(i)
        tok_, labels_ = get_texts(r, n_lbls)
        tok += tok_;
        labels += labels_
    return tok, labels

In [ ]:
df_trn = pd.read_csv(LM_PATH/'train.csv', header=None, chunksize=chunksize)
df_val = pd.read_csv(LM_PATH/'test.csv', header=None, chunksize=chunksize)

In [ ]:
tok_trn, trn_labels = get_all(df_trn, 1)
tok_val, val_labels = get_all(df_val, 1)

In [ ]:
(LM_PATH/'tmp').mkdir(exist_ok=True)

In [ ]:
np.save(LM_PATH/'tmp'/'tok_trn.npy', tok_trn)
np.save(LM_PATH/'tmp'/'tok_val.npy', tok_val)

In [ ]:
tok_trn = np.load(LM_PATH/'tmp'/'tok_trn.npy')
tok_val = np.load(LM_PATH/'tmp'/'tok_val.npy')

In [ ]:
freq = Counter(p for o in tok_trn for p in o)
freq.most_common(25)

The *vocab* is the **unique set of all tokens** in our dataset. The vocab provides us a way for us to simply replace each word in our datasets with a unique integer called an index.

In a large corpus of data one might find some rare words which are only used a few times in the whole dataset. We discard such rare words and avoid trying to learn meaningful patterns out of them.

Here we have set a minimum frequency of occurence to 2 times. It has been observed by NLP practicioners that a maximum vocab of 60k usually yields good results for classification tasks. So we set maz_vocab to 60000.

In [ ]:
max_vocab = 60000
min_freq = 2

In [ ]:
itos = [o for o,c in freq.most_common(max_vocab) if c>min_freq]
itos.insert(0, '_pad_')
itos.insert(0, '_unk_')

We create a reverse mapping called stoi which is useful to lookup the index of a given token. stoi also has the same number of elements as itos. We use a high performance container called [collections.defaultdict](https://docs.python.org/2/library/collections.html#collections.defaultdict) to store our stoi mapping.

In [ ]:
stoi = collections.defaultdict(lambda:0, {v:k for k,v in enumerate(itos)})
len(itos)

In [ ]:
trn_lm = np.array([[stoi[o] for o in p] for p in tok_trn])
val_lm = np.array([[stoi[o] for o in p] for p in tok_val])

In [ ]:
np.save(LM_PATH/'tmp'/'trn_ids.npy', trn_lm)
np.save(LM_PATH/'tmp'/'val_ids.npy', val_lm)
pickle.dump(itos, open(LM_PATH/'tmp'/'itos.pkl', 'wb'))

In [ ]:
trn_lm = np.load(LM_PATH/'tmp'/'trn_ids.npy')
val_lm = np.load(LM_PATH/'tmp'/'val_ids.npy')
itos = pickle.load(open(LM_PATH/'tmp'/'itos.pkl', 'rb'))

In [ ]:
vs=len(itos)
vs,len(trn_lm)

## wikitext103 conversion

We are now going to build an english language model for the IMDB corpus. We could start from scratch and try to learn the structure of the english language. But we use a technique called transfer learning to make this process easier. In transfer learning (a fairly recent idea for NLP) a pre-trained LM that has been trained on a large generic corpus(_like wikipedia articles_) can be used to transfer it's knowledge to a target LM and the weights can be fine-tuned.

Our source LM is the wikitext103 LM created by Stephen Merity @ Salesforce research. [Link to dataset](https://www.salesforce.com/products/einstein/ai-research/the-wikitext-dependency-language-modeling-dataset/)
The language model for wikitext103 (AWD LSTM) has been pre-trained and the weights can be downloaded here: [Link](http://files.fast.ai/models/wt103/). Our target LM is the IMDB LM.

In [ ]:
# ! wget -nH -r -np -P {PATH} http://files.fast.ai/models/wt103/

The pre-trained LM weights have an embedding size of 400, 1150 hidden units and just 3 layers. We need to match these values  with the target IMDB LM so that the weights can be loaded up.

In [ ]:
em_sz,nh,nl = 400,1150,3

In [ ]:
PRE_PATH = PATH/'models'/'wt103'
PRE_LM_PATH = PRE_PATH/'fwd_wt103.h5'

In [ ]:
wgts = torch.load(PRE_LM_PATH, map_location=lambda storage, loc: storage)

We calculate the mean of the layer0 encoder weights. This can be used to assign weights to unknown tokens when we transfer to target IMDB LM.

In [ ]:
enc_wgts = to_np(wgts['0.encoder.weight'])
row_m = enc_wgts.mean(0)

In [ ]:
itos2 = pickle.load((PRE_PATH/'itos_wt103.pkl').open('rb'))
stoi2 = collections.defaultdict(lambda:-1, {v:k for k,v in enumerate(itos2)})

Before we try to transfer the knowledge from wikitext to the IMDB LM, we match up the vocab words and their indexes. 
We use the defaultdict container once again, to assign mean weights to unknown IMDB tokens that do not exist in wikitext103.

In [ ]:
new_w = np.zeros((vs, em_sz), dtype=np.float32)
for i,w in enumerate(itos):
    r = stoi2[w]
    new_w[i] = enc_wgts[r] if r>=0 else row_m

We now overwrite the weights into the wgts odict.
The decoder module, which we will explore in detail is also loaded with the same weights due to an idea called weight tying.

In [ ]:
wgts['0.encoder.weight'] = T(new_w)
wgts['0.encoder_with_dropout.embed.weight'] = T(np.copy(new_w))
wgts['1.decoder.weight'] = T(np.copy(new_w))

Now that we have the weights prepared, we are ready to create and start training our new IMDB language pytorch model!

## Language model

It is fairly straightforward to create a new language model using the fastai library. Like every other lesson, our model will have a backbone and a custom head. The backbone in our case is the IMDB LM pre-trained with wikitext and the custom head is a linear classifier. In this section we will focus on the backbone LM and the next section will talk about the classifier custom head.

bptt (*also known traditionally in NLP LM as ngrams*) in fastai LMs is approximated to a std. deviation around 70, by perturbing the sequence length on a per-batch basis. This is akin to shuffling our data in computer vision, only that in NLP we cannot shuffle inputs and we have to maintain statefulness. 

Since we are predicting words using ngrams, we want our next batch to line up with the end-points of the previous mini-batch's items. batch-size is constant and but the fastai library expands and contracts bptt each mini-batch using a clever stochastic implementation of a batch. (original credits attributed to [Smerity](https://twitter.com/jeremyphoward/status/980227258395770882))

In [ ]:
wd=1e-7
bptt=70
bs=52
opt_fn = partial(optim.Adam, betas=(0.8, 0.99))

The goal of the LM is to learn to predict a word/token given a preceeding set of words(tokens). We take all the movie reviews in both the 90k training set and 10k validation set and concatenate them to form long strings of tokens. In fastai, we use the `LanguageModelLoader` to create a data loader which makes it easy to create and use bptt sized mini batches. The  `LanguageModelLoader` takes a concatenated string of tokens and returns a loader.

We have a special modeldata object class for LMs called `LanguageModelData` to which we can pass the training and validation loaders and get in return the model itself.

In [ ]:
trn_dl = LanguageModelLoader(np.concatenate(trn_lm), bs, bptt)
val_dl = LanguageModelLoader(np.concatenate(val_lm), bs, bptt)
md = LanguageModelData(PATH, 1, vs, trn_dl, val_dl, bs=bs, bptt=bptt)

We setup the dropouts for the model - these values have been chosen after experimentation. If you need to update them for custom LMs, you can change the weighting factor (0.7 here) based on the amount of data you have. For more data, you can reduce dropout factor and for small datasets, you can reduce overfitting by choosing a higher dropout factor. *No other dropout value requires tuning*

In [ ]:
drops = np.array([0.25, 0.1, 0.2, 0.02, 0.15])*0.7

We first tune the last embedding layer so that the missing tokens initialized with mean weights get tuned properly. So we freeze everything except the last layer.

We also keep track of the *accuracy* metric.

In [ ]:
learner= md.get_model(opt_fn, em_sz, nh, nl, 
    dropouti=drops[0], dropout=drops[1], wdrop=drops[2], dropoute=drops[3], dropouth=drops[4])

learner.metrics = [accuracy]
learner.freeze_to(-1)

In [ ]:
learner.model.load_state_dict(wgts)

We set learning rates and fit our IMDB LM. We first run one epoch to tune the last layer which contains the embedding weights. This should help the missing tokens in the wikitext103 learn better weights.

In [ ]:
lr=1e-3
lrs = lr

In [ ]:
learner.fit(lrs/2, 1, wds=wd, use_clr=(32,2), cycle_len=1)

Note that we print out accuracy and keep track of how often we end up predicting the target word correctly. While this is a good metric to check, it is not part of our loss function as it can get quite bumpy. We only minimize cross-entropy loss in the LM.

The exponent of the cross-entropy loss is called the perplexity of the LM. (low perplexity is better).

In [ ]:
learner.save('lm_last_ft')

In [ ]:
learner.load('lm_last_ft')

In [ ]:
learner.unfreeze()

In [ ]:
learner.lr_find(start_lr=lrs/10, end_lr=lrs*10, linear=True)

In [ ]:
learner.sched.plot()

In [ ]:
learner.fit(lrs, 1, wds=wd, use_clr=(20,10), cycle_len=15)

We save the trained model weights and separately save the encoder part of the LM model as well. This will serve as our backbone in the classification task model.

In [ ]:
learner.save('lm1')

In [ ]:
learner.save_encoder('lm1_enc')

In [ ]:
learner.sched.plot_loss()

## Classifier tokens

The classifier model is basically a linear layer custom head on top of the LM backbone. Setting up the classifier data is similar to the LM data setup except that we cannot use the unsup movie reviews this time.

In [ ]:
df_trn = pd.read_csv(CLAS_PATH/'train.csv', header=None, chunksize=chunksize)
df_val = pd.read_csv(CLAS_PATH/'test.csv', header=None, chunksize=chunksize)

In [ ]:
tok_trn, trn_labels = get_all(df_trn, 1)
tok_val, val_labels = get_all(df_val, 1)

In [ ]:
(CLAS_PATH/'tmp').mkdir(exist_ok=True)

np.save(CLAS_PATH/'tmp'/'tok_trn.npy', tok_trn)
np.save(CLAS_PATH/'tmp'/'tok_val.npy', tok_val)

np.save(CLAS_PATH/'tmp'/'trn_labels.npy', trn_labels)
np.save(CLAS_PATH/'tmp'/'val_labels.npy', val_labels)

In [ ]:
tok_trn = np.load(CLAS_PATH/'tmp'/'tok_trn.npy')
tok_val = np.load(CLAS_PATH/'tmp'/'tok_val.npy')

In [ ]:
itos = pickle.load((LM_PATH/'tmp'/'itos.pkl').open('rb'))
stoi = collections.defaultdict(lambda:0, {v:k for k,v in enumerate(itos)})
len(itos)

In [ ]:
trn_clas = np.array([[stoi[o] for o in p] for p in tok_trn])
val_clas = np.array([[stoi[o] for o in p] for p in tok_val])

In [ ]:
np.save(CLAS_PATH/'tmp'/'trn_ids.npy', trn_clas)
np.save(CLAS_PATH/'tmp'/'val_ids.npy', val_clas)

## Classifier

Now we can create our final model, a classifier which is really a custom linear head over our trained IMDB backbone. The steps to create the classifier model are similar to the ones for the LM.

In [ ]:
trn_clas = np.load(CLAS_PATH/'tmp'/'trn_ids.npy')
val_clas = np.load(CLAS_PATH/'tmp'/'val_ids.npy')

In [ ]:
trn_labels = np.squeeze(np.load(CLAS_PATH/'tmp'/'trn_labels.npy'))
val_labels = np.squeeze(np.load(CLAS_PATH/'tmp'/'val_labels.npy'))

In [ ]:
bptt,em_sz,nh,nl = 70,400,1150,3
vs = len(itos)
opt_fn = partial(optim.Adam, betas=(0.8, 0.99))
bs = 48

In [ ]:
min_lbl = trn_labels.min()
trn_labels -= min_lbl
val_labels -= min_lbl
c=int(trn_labels.max())+1

In the classifier, unlike LM, we need to read a movie review at a time and learn to predict the it's sentiment as pos/neg. We do not deal with equal bptt size batches, so we have to pad the sequences to the same length in each batch. To create batches of similar sized movie reviews, we use a sortish sampler method invented by [@Smerity](https://twitter.com/Smerity) and [@jekbradbury](https://twitter.com/jekbradbury)

The sortishSampler cuts down the overall number of padding tokens the classifier ends up seeing.

In [ ]:
trn_ds = TextDataset(trn_clas, trn_labels)
val_ds = TextDataset(val_clas, val_labels)
trn_samp = SortishSampler(trn_clas, key=lambda x: len(trn_clas[x]), bs=bs//2)
val_samp = SortSampler(val_clas, key=lambda x: len(val_clas[x]))
trn_dl = DataLoader(trn_ds, bs//2, transpose=True, num_workers=1, pad_idx=1, sampler=trn_samp)
val_dl = DataLoader(val_ds, bs, transpose=True, num_workers=1, pad_idx=1, sampler=val_samp)
md = ModelData(PATH, trn_dl, val_dl)

In [ ]:
# part 1
dps = np.array([0.4, 0.5, 0.05, 0.3, 0.1])

In [ ]:
dps = np.array([0.4,0.5,0.05,0.3,0.4])*0.5

In [ ]:
m = get_rnn_classifier(bptt, 20*70, c, vs, emb_sz=em_sz, n_hid=nh, n_layers=nl, pad_token=1,
          layers=[em_sz*3, 50, c], drops=[dps[4], 0.1],
          dropouti=dps[0], wdrop=dps[1], dropoute=dps[2], dropouth=dps[3])

In [ ]:
opt_fn = partial(optim.Adam, betas=(0.7, 0.99))

In [ ]:
learn = RNN_Learner(md, TextModel(to_gpu(m)), opt_fn=opt_fn)
learn.reg_fn = partial(seq2seq_reg, alpha=2, beta=1)
learn.clip=.25
learn.metrics = [accuracy]

In [ ]:
lr=3e-3
lrm = 2.6
lrs = np.array([lr/(lrm**4), lr/(lrm**3), lr/(lrm**2), lr/lrm, lr])

In [ ]:
lrs=np.array([1e-4,1e-4,1e-4,1e-3,1e-2])

In [ ]:
wd = 1e-7
wd = 0
learn.load_encoder('lm1_enc')

In [ ]:
learn.freeze_to(-1)

In [ ]:
learn.lr_find(lrs/1000)
learn.sched.plot()

In [ ]:
learn.fit(lrs, 1, wds=wd, cycle_len=1, use_clr=(8,3))

In [ ]:
learn.save('clas_0')

In [ ]:
learn.load('clas_0')

In [ ]:
learn.freeze_to(-2)

In [ ]:
learn.fit(lrs, 1, wds=wd, cycle_len=1, use_clr=(8,3))

In [ ]:
learn.save('clas_1')

In [ ]:
learn.load('clas_1')

In [ ]:
learn.unfreeze()

In [ ]:
learn.fit(lrs, 1, wds=wd, cycle_len=14, use_clr=(32,10))

In [ ]:
learn.sched.plot_loss()

In [ ]:
learn.save('clas_2')

The previous state of the art result was 94.1% accuracy (5.9% error). With bidir we get 95.4% accuracy (4.6% error).

## Fin

In [ ]:
learn.sched.plot_loss()